.primary-button {
    color: #ffffff;
    background-color: #078080;
    width: 210px;
    height: 52px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
    text-decoration: none;
    transition: background-color 0.2s ease-out, box-shadow 0.1s ease-out;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
  }

  .ghost-button {
    color: #078080;
    border: 1px solid #078080;
    background-color: #f8f5f2;
    width: 210px;
    height: 52px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
    text-decoration: none;
    transition: background-color 0.2s ease-out, box-shadow 0.1s ease-out;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
  }