.square {
    background: #f8f5f2;
    border: 2px solid #232323;
    float: left;
    color: #078080;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: 1px;
    margin-top: 1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }

  .square:focus {
    outline: rgb(154 180 210 / 90%) solid 2px;
  }
  
  .kbd-navigation .square:focus {
    border: 2px;
    border-color: #232323;
  }