body {
  font: 32px 'Century Gothic', Futura, sans-serif;
  color: #232323;
  margin: 20px;
}

ol,
ul {
  padding-left: 40px;
  max-width: 70vw;
}

button {
  color: #ffffff;
  background-color: #078080;
  width: 140px;
  height: 52px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 4px;
  text-decoration: none;
  transition: background-color 0.2s ease-out, box-shadow 0.1s ease-out;
  vertical-align: middle;
  text-align: center;
}

button:focus {
  box-shadow: 0 0 0 2px rgb(255 255 255 / 85%), 0 0 0 4px rgb(154 180 210 / 90%);
  outline: none;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #f8f5f2;
  border: 2px solid #232323;
  float: left;
  color: #078080;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: #f45d48 solid 2px;
}

.kbd-navigation .square:focus {
  border: 2px;
  border-color: #232323;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  color: #078080;
}
